body {
    display: flex;
    align-items: center;
    justify-content: center;

    color: gainsboro
}

ul {
    background: linear-gradient(
        to right,
        hsl(98 6% 60%),
        hsl(50 100% 30%)
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    border: 1px solid white;
    padding: 50px;
    margin-bottom: 20px;

    font-size: 28px;
}

a {
    color:white;
    text-decoration: none;
    padding: 15px;
}
